/**
 * Wiki
 */
.wiki {
  @extend %post-header;

  .post-header {
    margin: 50px auto 60px;
    padding: 0 0 20px;
    border-bottom: 1px solid #ebebeb;

    .post-title {
      margin-bottom: 6px;
    }

    .post-subtitle {
      font-weight: lighter;
    }

    .post-meta {
      color: #808080;
    }
  }

  .post-content {
    margin-bottom: $spacing-unit;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;

    h2 {
      @include relative-font-size(2);

      @include media-query($on-laptop) {
        @include relative-font-size(1.75);
      }

      border-bottom: 1px solid #ebebeb;
    }

    h3 {
      @include relative-font-size(1.625);

      @include media-query($on-laptop) {
        @include relative-font-size(1.375);
      }
    }

    h4 {
      @include relative-font-size(1.25);

      @include media-query($on-laptop) {
        @include relative-font-size(1.125);
      }
    }

    img, svg, iframe {
      margin-left: auto;
      margin-right: auto;
    }

    img:not(.emoji), svg, iframe {
      display: block;
      max-height: 50vh;
    }

    h2, h3, h4, h5, h6 {
      margin: 19px 0 19px;
    }

    p, hr {
      margin-bottom: 24px;
    }

    hr {
      height: 1px;
      background-color: #ebebeb;
      border: none;
    }
  }

  .post-related {
    & > *:first-child {
      @include relative-font-size(1.425);
      color: #333;
      margin-bottom: 14px;
    }

    ul {
      margin-left: 15px;

      .post-link {
        @include relative-font-size(1.075);
      }

      a {
        color: #666;

        &:hover {
          color: #333;
        }

        &:after {
          content: 'NEW';
          position: absolute;
          margin-left: 8px;
          margin-top: 3px;
          padding: 0px 3px;
          background-color: $brand-color;
          color: #fff;
          font-size: 10px;
          font-weight: 600;
          border-radius: 2px;
        }

        &:visited:after {
          background-color: #fff;
        }
      }
    }
  }
}

.wiki-page-segments-list {
  margin-left: 0;
}
