<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--readme标题-->
    <add key="Heading" value="NeedJustWord的个人博客" />
    <!--文件搜索字符串-->
    <add key="SearchPattern" value="*.md" />
    <!--配置内容根目录，支持绝对路径和相对路径(相对执行程序的路径)-->
    <add key="Root" value="..\Blog" />
    <!--readme.md文件所在目录，支持绝对路径和相对路径(相对执行程序的路径)-->
    <add key="ReadMeFilePath" value=".." />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>