<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- assign name = 'wide' -%}
  {%- include functions.html func='get_value' -%}
  {%- assign wide = return -%}

  {%- assign name = 'have_footer' -%}
  {%- include functions.html func='get_value' default=true -%}
  {%- assign have_footer = return -%}

<body class="{% if wide %}page-wide{% endif %}">

  {%- include views/header.html -%}

  {%- include views/banner.html -%}

  {%- include extensions/hashlocate.html -%}

  {%- include extensions/theme-toggle.html -%}

  {%- include extensions/click-to-top.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- if have_footer -%}
  {%- include views/footer.html -%}
  {%- endif -%}

</body>
</html>
